
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    max-width: 1140px;
    margin: 0 auto;
}

/* body */
body{
    background-color: rgba(245, 248, 255, 1);
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; 
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
}

#home{
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    font-size: 16px;
}

.shop-about-us{
    color: rgba(137, 135, 161, 1); 
    font-size: 16px;
}

#cart{
   font-size: 16px;
   color: black; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-logo{
    width: 135px;
    height: 82px;
}

.nav-items{
   display: flex;
   gap: 48px;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 120px;
}

.banner-left h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;
}

#always{
    color: black;
}

#frs-flower{
    color: rgba(233, 90, 8, 1);
}

.banner-left p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* plants section */
.plants-section{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 49px;
}

.plants-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}

#our{
    color: rgba(233, 90, 8, 1);
}

#plants{
    color: black;
}

.plants-text{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* cart */
main{
    max-width: 1140px;
    margin: auto;
}

.cart-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.cart{
    width: 270px;
    height: 484.94px;
    text-align: center;
}

.cart img{
    width: 270px;
    height: 322.94px;
}

.cart-heading{
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cart-sub-heading{
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    font-weight: bold;
}

.cart-button{
    width: 100%;
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    padding: 19px 80px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

/* flower-section */
.flower-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 210px;
}

.flower-left-img{
    height: 597px;
    width: 540px;
    display: block;
}
    
.flower-left{
    position: relative;
}

.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    right: -100px;
    transition: transform 0.5s linear;
}

.badge:hover{
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.flower-heading{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.flower-list{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.middle-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* latest section */
.latest-section{
    text-align: center;
    margin-top: 133px;
    margin-bottom: 120px;
}

.latest-heading{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 16px;
}

#latest{
    color: rgba(233, 90, 8, 1);
}

#deals{
    color: black;
}

.latest-text{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* discount section */
.discount-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.discount-cart-section{
    display: flex;
    gap: 28px;
    align-items: center;
}

.bloom-plant{
    width: 367px;
    height: 206px;
    border-radius: 14px;
    text-align: center;
    padding: 65px 48px;
    background-image: url(../assets/deal-bloom.png);
    background-size: cover;
    position: relative;

}

.bloom-plant h2, .ana-plant h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 19px;
}

.bloom-plant p, .ana-plant p{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
}

.bloom-overlay, .ana-overlay, .zabo-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.bloom-plant-content, .ana-plant-content, .zabo-plant-content{
    z-index: 2;
    position: relative;
}

.ana-plant{
    width: 367px;
    height: 206px;
    border-radius: 14px;
    text-align: center;
    padding: 65px 48px;
    background-image: url(../assets/deal-ana.png);
    background-size: cover;
    position: relative;
}

.zabo-plant{
    width: 752px;
    height: 422px;
    border-radius: 14px;
    text-align: center;
    padding: 172px 127px;
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    position: relative;
}

.zabo-plant h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.zabo-plant p{
    font-size: 28px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
}

/* join-section */
.join{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.join h1{
    font-size: 50px;
    color: white;
    font-weight: bold; 
    margin-bottom: 23px;
}

.input-field{
    display: flex;
}

#email{
    width: 645px;
    background-color: white;
    padding-left: 20px;
    border: none;
    font-size: 16px;
}

#subscribe{
   width: 186px;
   background-color: rgba(233, 90, 8, 1);
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   padding: 15px 52px;
   border: none;
   font-size: 16px;
   cursor: pointer;
}

/* footer */

footer{
    height: 350px;
}

.footer-section{
    width: 1140px;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
}

.footer-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px 110.67px;
}

footer ul{
    list-style: none;
    color: rgba(107, 114, 128, 1);
    cursor: pointer;
}

footer p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}

footer .middle-1 ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .middle-2 ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .right{
    display: flex;
    gap: 24px;
}

footer .right img{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

/* responsive for small device */
@media screen and (max-width: 576px) {
    #home,
    .shop-about-us,
    .banner-break,
    .plants-text-break,
    .badge,
    .flower-break,
    .latest-break{
        display: none;
    }

    /* nav */
    nav{
        max-width: 361px;
        margin: auto;
        margin-top: 13px;
    }

    .nav-logo{
        width: 63px;
        height: 38px;
    }

    /* banner */
    .banner{
        flex-direction: column-reverse;
    }

    .banner img{
        width: 393.18px;
        height: 245px;
        margin-bottom: 28px;
    }

    .banner-left h1{
        font-size: 24px;
        margin-bottom: 13px;
    }

    .banner-left{
        max-width: 361px;
        margin: auto;
    }

    .banner-left p{
    font-size: 14px;
    }

    /* plants-section */
    .plants-section{
        margin-top: 65px;
        margin-bottom: 28px;
    }

    /* cart */
    main{
        max-width: 361px;
        margin: auto;
    }

    .cart-section{
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        row-gap: 28.5px;
    }

    .cart{
    width: 171px;
    height: 340.5px;
    }

    .cart-heading{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
   }

   .cart-sub-heading{
    font-size: 14px;
   }

    .cart img{
    width: 171px;
    height: 196.5px;
    }
    
    .cart-heading{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
   }

   .cart-sub-heading{
   font-size: 16px;
   }
   
   .cart-button{
    width: 100%;
    padding: 19px 30.5px;
    margin-top: 20px;
    font-size: 16px;
   }

   /* flower-section */

   .flower-section{
    flex-direction: column;
    margin-top: 0;
   }

   .flower-left-img{
    width: 358px;
    height: 396px;
    margin-top: 42px;
    margin-bottom: 18px;
   }

   .flower-heading{
    font-size: 24px;
   }

   .flower-list{
     font-size: 14px;
   }

   .flower-list li{
    margin-left: 20px;
   }

   /* latest */
   .latest-section{
     margin-bottom: 50px;
     margin-top: 100px
   }

   .latest-heading{
    font-size: 24px;
   }

   .latest-text{
    font-size: 14px;
   }

   /* discount cart */
   .discount-cart-section{
    flex-direction: column;
   }
   
   .zabo-plant{
    width: 367px;
    height: 206px;
    padding: 65px 48px;
   }

   .zabo-plant h2{
    font-size: 20px;
    margin-bottom: 19px;
   }
   
   .zabo-plant p{
    font-size: 16px;
   }

   /* join */
   .join{
    width: 100%;
    height: 275px;
    margin-top: 45px;
   }

   .input-field{
    margin: 0;
   }
    
   #email{
    width: 215px;
   } 

   #subscribe{
    width: 103px;
    padding: 15px 0;
   }
   .join h1{
    font-size: 24px;

   }

   /* footer */
   footer{
    height: 100%;
    width: 100%;
   }

   .footer-section{
    flex-direction: column;
    width: 361px;
   }

   .footer-section p{
    margin-bottom: 20px;
   }

   .middle-1 ul{
    margin-bottom: 30px;
   }

   .middle-2 ul{
    margin-bottom: 20px;
   }
}